body {
 background-color: rgba(133, 179, 177, 0.644);
}
h1 {
 color: black;
 text-align: center;
}

p {
 font-family: times;
 font-size: 12px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #050505;
}